<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lihui.aiagent.mapper.ChatMemoryMapper">

    <resultMap id="BaseResultMap" type="com.lihui.aiagent.domain.ChatMemory">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="conversationId" column="conversation_id" jdbcType="VARCHAR"/>
            <result property="messageOrder" column="message_order" jdbcType="INTEGER"/>
            <result property="messageType" column="message_type" jdbcType="VARCHAR"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="messageJson" column="message_json" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="is_delete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,conversation_id,message_order,
        message_type,content,message_json,
        create_time,update_time,is_delete
    </sql>
</mapper>
